{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
	{% endblock %}
</head>
<body>
	{% block content %}
		{% if list_of_objs %}
			<div class="container">
				{% for obj in list_of_objs|slice:":1" %}
					<h2> Blog </h2>
					{% for post in obj %}
						<li><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></li>
					{% endfor %}
				{% endfor %}
				{% for obj in list_of_objs|slice:"1:2" %}
					<h2> Positions </h2>
					{% for pos in obj %}
						<p>{{ pos.security_symbol }}</p>
					{% endfor %}
				{% endfor %}
			</div>
		{% endif %}
	{% endblock %}
</body>

</html>