{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %} My Home Page {% endblock %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
	{% block extra_head %}{% endblock %}
</head>
<body>
	<div class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'home:index' %}">My Website</a>
			</div>
			{% block nav %}
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav nav-pills navbar-nav">
					<li>{% block nav-home %}<a href="{% url 'home:index' %}">Home</a>{% endblock %}</li>
					<li>{% block nav-about %}<a href="{% url 'optiontools:index' %}">Option Tools</a>{% endblock %}</li>
					<li>{% block nav-contact %}<a href="{% url 'blog:index' %}">Blog</a>{% endblock %}</li>
				</ul>
			</div>
			{% endblock %}
		</div>
	</div>
	<div class="container">
		{% block content %}
		{% endblock %}
		<footer id="fixedfoot">
	        <p>&copy; Personal Website Awesomness</p>
		</footer>
	</div>
</body>
</html>