{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %} My Home Page {% endblock %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script scr="{% static "js/base.js" %}" type="text/javascript"></script>
	{% block extra_head %}{% endblock %}
</head>
<body>
	<div class="container-fluid">
		{% block sidebar %}
		<ul class="nav navbar-nav">
			<li class="navbar-brand"> <a href="{% url 'home:index' %}">Joe Liberi</a> </li>
			<li>{% block nav-home %}<a href="{% url 'home:index' %}">Home</a>{% endblock %}</li>
			<li>{% block nav-about %}<a href="{% url 'optiontools:index' %}">Option Tools</a>{% endblock %}</li>
			<li>{% block nav-contact %}<a href="{% url 'blog:index' %}">Blog</a>{% endblock %}</li>
		</ul>
		{% endblock %}
	</div>
	<div class="container-fluid">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			{% block content %}
			{% endblock %}
		</div>
		<div class="col-md-3">
		</div>
	</div>
</body>
</html>