{% extends "base.html" %}
{% block content %}
<h3> Covered Call Calculator </h3>
{% endblock %}

<!-- <form method="post" action="{% url 'optiontools:index'%}">
{% csrf_token %}
Security Name:
<input type="text" name="security_name"><br>
Security Symbol:
<input type="text" name="security_symbol"><br>
Price Per Option Contract:
<input type="int" name="price_poc"><br>
Price for Underlying Security:
<input type="int" name="price_us"><br>
Strike Price:
<input type="int" name="strike_price"><br>
Commision:
<input type="int" name="comish"><br>
</form>

<input type="submit" value="Submit" /> -->